body {
	font-family: Arial, sans-serif;
	width: 200px;
	padding: 10px;
}

h1 {
	font-size: 18px;
	margin-bottom: 10px;
}

input {
	width: 100%;
	padding: 10px;
	margin-bottom: 10px;
	border: 1px solid #ccc;
	border-radius: 5px;
}

button {
	width: 100%;
	padding: 10px;
	color: white;
	border: none;
	cursor: pointer;
	border-radius: 5px;
	margin-bottom: 10px;
	font-size: 16px;
}

button#marcar {
	background-color: hsl(120, 73%, 30%);
}

button#marcar:hover {
	background-color: hsl(120, 73%, 10%);
}

button#desmarcar {
	background-color: hsl(0, 79%, 30%);
}

button#desmarcar:hover {
	background-color: hsl(0, 79%, 25%);
}

button#salvar {
	background-color: hsl(195, 53%, 30%);
}

button#salvar:hover{
	background-color: hsl(195, 53%, 20%);
}

button.default {
	color: black;
	background-color: lightgray;
}

button.default:hover{
	color: black;
	background-color: darkgray;
}

span {
	text-align: center;
	padding: 10px;;
}

span#resultado{
	font-size: 14px;;
	background-color: lightyellow;
}

strong {
	display: block;
	margin-top: 10px;
}

span#key {
	font-size: 18px;;
	background-color: beige;
}

button#copiarChaveButton {
	background-color: lightgoldenrodyellow;
	color: black;
	font-weight: bold;;
}

button#copiarChaveButton:hover{
	background-color: goldenrod;
}

button#botaoEdit {
	color:  #202020;;
	background-color: lightblue;
}

button#botaoEdit:hover {
	background-color: darkblue;
}

button:hover {
	transition: background-color 0.3s ease;
}

div#detalhes-checkboxes {
	font-size: 14px;
	display: block;
	padding: 10px;
	border: 1px solid #ccc;
	border-radius: 5px;
	background-color: #f9f9f9;
	margin-top: 10px;
}

div#detalhes-checkboxes ul {
	list-style-type: none;
	padding: 0;
}

div#detalhes-checkboxes li {
	padding: 5px 0;
	border-bottom: 1px solid #eee;
}

div#detalhes-checkboxes li:last-child {
	border-bottom: none;
}
